<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.phx.mybatis.mapper.HouseMapper">
  <cache/>
  <resultMap id="houseWithOwner" type="me.phx.model.House">
    <id property="id" column="id"/>
    <result property="size" column="size"/>
    <result property="location" column="location"/>
    <association property="owner" column="owner_id" javaType="person"
                 select="me.phx.mybatis.mapper.PersonMapper.selectPersonById"/>
  </resultMap>

  <insert id="insertHouse" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    INSERT INTO House (owner_id, size, location, ip_address)
    VALUES (#{owner.id,jdbcType=NUMERIC}, #{size}, #{location}, INET6_ATON(#{ipAddress}))
  </insert>

  <select id="selectHouseAsMaps" resultType="Map">
    SELECT *
    FROM House
    ORDER BY id
  </select>

  <!--<select id="selectHouse" resultMap="houseWithOwner">-->
  <!--SELECT *-->
  <!--FROM House-->
  <!--ORDER BY id-->
  <!--</select>-->

  <select id="selectHouseAsObject" resultType="house">
    SELECT
      id,
      location,
      size,
      INET6_NTOA(ip_address) AS ipAddress
    FROM House
    ORDER BY id
  </select>

  <select id="selectHouseWithOwner" resultMap="houseWithOwner">
    SELECT
      id,
      location,
      size,
      owner_id,
      INET6_NTOA(ip_address) AS ipAddress
    FROM House
  </select>
</mapper>