div.sidebar {
    margin-left: -13%;
    background-color: rgba(238, 238, 238, 0.7);
    height: 100%;
    text-align: right;
}

div.sidebar:hover {
    transition: margin 0.4s ease-in 0s;
    margin-left: -1%;
}

div.container {
    /*overflow:hidden;*/
}