<!DOCTYPE html>
<html ng-app="spitter">
<head lang="en">
    <meta charset="UTF-8">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/bootstrap.css"/>

    <link rel="stylesheet" href="css/spitter.css"/>
    <title>Spitter</title>
</head>
<body ng-controller="person">
        
    <div class="col-md-2 sidebar">
        <ul class="nav">
            <li>
                <a href="#">Sidebar One</a>
            </li>
            <li>
                <a href="#">Sidebar Two</a>
            </li>
            <li>
                <a href="#">Sidebar Three</a>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="page-header">
            <h1>Hello {{'Angular'}}</h1>
        </div>
        <div class="row">
  
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="panel-title">Person</h2>
                </div>
                <div class="panel-group">
                    <button class="btn btn-sm btn-default" ng-click="refresh()">Refresh</button>
                </div>
                <div class="panel-body">
                    <div class="col-lg-10">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Age</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="p in people">
                                <td>{{$index}}</td>
                                <td>{{p.name}}</td>
                                <td>{{p.age}}</td>
                                <td><button class="btn btn-xs btn-danger" type="submit" ng-model="p" ng-click="delete(p)">Delete</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        
        <form ng-submit="insert()" class="form-horizontal">
            <div class="dropdown-header col-sm-offset-2">
                <h3 class="h3">Insert Person Here!</h3>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="What's the person name?" required autofocus ng-model="newPerson.name">
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-2 control-label">Age</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" placeholder="How old is the guy?" max="130" min="0" required ng-model="newPerson.age">
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-4">
                    <input class="btn btn-primary" type="submit" value="Add new Person"/>
                </div>
            </div>
        </form>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>

    <!-- Angular Js -->
    <script src="js/angular.js"></script>
    <script src="js/spitter.js"></script>
</body>
</html>